.create_series_container{
    display: flex;
   flex-direction: column;
   align-items: center;
   padding: 100px;
}
.create_series_h1{
    font-size: 40px;
}
.create_series_form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.create_series_label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea,
.create_series_input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.create_series_button {

    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff0303;
}

@media (max-width: 600px) {
    input[type="text"],
    textarea,
    input[type="file"] {
        width: calc(100% - 18px);
    }
}
