
    <header>
        <h1>Minhas Séries:</h1>
    </header>

    <main>
        <section class="series-list">
            <ul>
                <% @series.each do |series| %>
                <li class="serie">
                    <img src="<% series.image_url %>" alt="Imagem da Série">
                      <div class="info"> 
                        <h2>Título:<%= series.title %></h2>
                        <p>Descrição:<%= series.description %></p>
                        <p>Professor: <%= series.user_id %></p>
                        <p>Nota: 4.5/5</p>
                    </div>
                </li>
                <% end %>
                <!-- Mais itens de série aqui -->
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 - Seu Nome</p>
    </footer>


