
    <header>
        <h1>Minhas Séries Favoritas</h1>
    </header>

    <main>
        <section class="series-list">
            <ul>
                <li class="serie">
                    <img src="aula violao.jpg"
                    <div> class="info"> 
                        <h2>Nome da Série 1</h2>
                        <p>Sinopse da Série 1 (Breve descrição)</p>
                        <p>Gêneros: Ação, Drama, Ficção Científica</p>
                        <p>Nota: 4.5/5</p>
                    </div>
                </li>
                <!-- Mais itens de série aqui -->
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 - Seu Nome</p>
    </footer>


