<section id="serie-information">
    <div class="serie-title"> <%= @serie.title %></div>
    <div class="serie-description"> <%= @serie.description %></div>
    <div class="serie-image-url"> <%= @serie.image_url %></div>
</section>

<section id="series-lessons">
    <div class="lesson1">Aula</div>
    <div class="lesson2">Aula</div>
    <div class="lesson3">Aula</div>
    <div class="lesson4">Aula</div>
    <div class="lesson5">Aula</div>
    <div class="lesson6">Aula</div>
    <div class="lesson7">Aula</div>
</section>

<%= link_to "Cadastrar Aula", lessons_new_path %>
